.search-box {
  border: 1px solid rgba(163, 160, 164, 0.85);
  text-align: center;
  border-radius: 36px;
  width: 15%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.25%;
}
.search-box:focus {
  outline: none;
}

.form-cls {
  width: 100%;
}

div {
  width: 100%;
}
