.search-box {
  border: 1px solid rgba(163, 160, 164, 0.85);
  text-align: center;
  border-radius: 36px;
  width: 15%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.25%;
}
.search-box:focus {
  outline: none;
}

.form-cls {
  width: 100%;
}

.fullWidth {
  width: 100%;
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0% 25%;
  width: 50%;
}

.float {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 3%;
  width: 5%;
  color: black;
  text-align: right;
  position: fixed;
  font-size: xx-large;
  cursor: pointer;
}

.inputWidth {
  width: 80%;
}

.qu-btn {
  border-color: rgb(8, 1, 1);
  border-width: 1px;
  border-radius: 30px;
  background-color: white;
  padding: 8px 20px 8px 20px;
  font-size: 16px;
  color: black;
  text-align: center;
  text-transform: capitalize;
}

.qu-btn:hover {
  border-color: #fff;
  border-width: 1px;
  border-radius: 30px;
  background-color: #000;
  padding: 8px 20px 8px 20px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
}

/*====================================================================
                    MEDIA QUERIES                        
======================================================================*/

/*=============================================================================*/

/*medium -992px Devices*/
@media (max-width: 1199px) {
  .search-box {
    border: 1px solid rgba(163, 160, 164, 0.85);
    text-align: center;
    border-radius: 36px;
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.25%;
  }

  main {
    padding: 0;
    margin: 0% 10%;
    width: 80%;
  }

  .search-box:focus {
    outline: none;
  }
}
/*========================================================================*/

/*Small -768px Devices*/
@media (max-width: 991px) {
  .search-box {
    border: 1px solid rgba(163, 160, 164, 0.85);
    text-align: center;
    border-radius: 36px;
    width: 50%;
    align-items: center;
    position: relative;
    padding: 0.25%;
  }

  main {
    padding: 0;
    margin: 0% 5%;
    width: 90%;
  }

  .search-box:focus {
    outline: none;
  }
}

@media (max-width: 720px) {
  .search-box {
    border: 1px solid rgba(163, 160, 164, 0.85);
    text-align: center;
    border-radius: 36px;
    width: 50%;
    align-items: center;
    position: relative;
    padding: 0.25%;
  }
  .search-box:focus {
    outline: none;
  }
}

/*==========================================================================*/
/*Extra small  -480px Devices*/
@media (max-width: 490px) {
  .search-box {
    border: 1px solid rgba(163, 160, 164, 0.85);
    text-align: center;
    border-radius: 36px;
    width: 35%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.25%;
  }
  .search-box:focus {
    outline: none;
  }

  .form-cls {
    width: 100%;
  }

  div {
    width: 100%;
  }

  main {
    overflow: hidden;
  }

  .float {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10%;
    width: 5%;
    color: black;
    text-align: right;
    position: fixed;
    font-size: xx-large;
    cursor: pointer;
  }

  .inputWidth {
    width: 80%;
  }
}

/*==========================================================================*/
/*Extra small  -390px Devices*/
@media (max-width: 390px) {
  .search-box {
    border: 1px solid rgba(163, 160, 164, 0.85);
    text-align: center;
    border-radius: 36px;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.25%;
  }
  .search-box:focus {
    outline: none;
  }

  .form-cls {
    width: 100%;
  }

  div {
    width: 100%;
  }

  main {
    overflow: hidden;
  }

  .float {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10%;
    width: 5%;
    color: black;
    text-align: right;
    position: fixed;
    font-size: xx-large;
    cursor: pointer;
  }
  .inputWidth {
    width: 80%;
  }
}
